### 자료형
int: 정수

float: 실수(소수점)

str: 문자나열

list: 나열된 그룹ex)[1,2,3,4,5]


dict: 이름(key)별로 정의된 그룹 ex){"이름":"이가영","전화번호":"010-"}

In [1]:
# 변수 =  값/데이터
x = 1
y = "수업중입니다"
print(x)
print(y)

1
수업중입니다

In [3]:
# 순차적 실행이라 변수값이 바뀜
y = 3
y = 11
# 11로 바뀜
print(y)

11

In [5]:
# int, float
x = 15
print(type(x))

<class 'int'>

In [6]:
y = 9.5
type(y)

float

In [7]:
# 숫자형 데이터 사칙연산
a = 9
b = 5
print(a + b)
print(a - b)
print(a * b)
print(a / b)

14
4
45
1.8

In [9]:
#나누기 몫
print(a // b)
#나머지
print(a % b)

1
4

In [12]:
# 문자열 str.문자는 큰 따옴표나 작은따옴표 사용 필수
s1 = "가가"
print(type(s1))
s2 = 'sksk'
print(s2)

<class 'str'>
sksk

In [13]:
# 만약 문자열에서 따옴표 입력을 잊어버렸다면 드래그 후 따옴표
ss = "따옴표를 까먹었지만 갠차나"
print(ss)

따옴표를 까먹었지만 갠차나

In [15]:
s3 = "산"
s4 = "토끼"
print( s3 + s4 )

산토끼

In [16]:
# list
# 리스트명 = [원소1, 원소2, ...... 원소n]
li = [1, 2, 3, 4, 5]
print(li)

[1, 2, 3, 4, 5]

In [19]:
#소수, 문자열, 또 다른 리스트 모두 가능
li = [1, 2, 3, 5.5, "이가영", [3,1,2]]
print(li)

[1, 2, 3, 5.5, '이가영', [3, 1, 2]]

In [21]:
#인덱싱: 리스트에는 번호가 있다
li = ['가', '나', '다', '라']
    # 0      1    2      3
    # -4    -3    -2    -1
print(li[2])
print(li[-3])

다
나

In [25]:
# 슬라이싱: 리스트 특정 구간 가져오기
# 리스트 이름[ 시작 인덱스 번호: 마지막 인덱스 번호]
# 주의: 마지막 인덱스는 포함되지 않음
print(li[0:2])
print(li[-4:3])
print(li[-4:-2])
print(li[1:-1])

['가', '나']
['가', '나', '다']
['가', '나']
['나', '다']

In [26]:
# 마지막 인덱스가 포함되는 경우
print(li[1: ])
print(li[ : 4])

['나', '다', '라']
['가', '나', '다', '라']

In [27]:
# 리스트의 길이 보기. 원소 개수.
print(len(li))

4

In [28]:
# 한 글자가 하나의 원소
len("문자열")

3

In [34]:
# 리스트 병합(li+li)
li1 = ["사과", " 감", "바나나", " 파인애플"]
li2 = [1, 3, 5, 7, 9]

print(li1 + li2)
print("반대 병합")
# 순서 지켜서 병합
print(li2 + li1)

print("li1", li1)
print("li2", li2)

#더한 데이터를 저장하고 싶다면
li_total = li1 + li2
print(li_total)

['사과', ' 감', '바나나', ' 파인애플', 1, 3, 5, 7, 9]
반대 병합
[1, 3, 5, 7, 9, '사과', ' 감', '바나나', ' 파인애플']
li1 ['사과', ' 감', '바나나', ' 파인애플']
li2 [1, 3, 5, 7, 9]
['사과', ' 감', '바나나', ' 파인애플', 1, 3, 5, 7, 9]

In [36]:
li3 = ['원숭이', '코끼리', '바나나']
li4 = [2,4,6,8,10]
li3.append(li4)
# 리스트가 추가되어있음
print(li3)
print(len(li3))

['원숭이', '코끼리', '바나나', [2, 4, 6, 8, 10]]
4

In [37]:
# 딕셔너리
data= {
    "일자" : '2020-01-1',
    "이름" :  '홍길동',
    "전화번호" : '010-0000-1111'
}
data

{'일자': '2020-01-1', '이름': '홍길동', '전화번호': '010-0000-1111'}

In [38]:
#키(항목명칭 확인)
data.keys()

dict_keys(['일자', '이름', '전화번호'])

In [39]:
#실제 값들 확인
data.values()

dict_values(['2020-01-1', '홍길동', '010-0000-1111'])

In [40]:
# 모든 데이터 확인
data.items()

dict_items([('일자', '2020-01-1'), ('이름', '홍길동'), ('전화번호', '010-0000-1111')])

In [41]:
#dict[key]로 키값 조회
data['이름']

'홍길동'

In [42]:
#키 추가
data['나이'] = 20
data

{'일자': '2020-01-1', '이름': '홍길동', '전화번호': '010-0000-1111', '나이': 20}