## 데이터 분석 클래스 Pandas

### 1. Pandas 불러오기
 
 import 라이브러리 명령을 통해 라이브러리를 볼러오며,
 뒤에 as줄임말 이라는 명령을 통해 줄임말로 간단하게 이름 변경 사용 가능

In [36]:
# 판다스를 사용하기 위해 라이브러리 부르기
# 판다스를 pd로 부를게
import pandas as pd

### 데이터 불러오기
- pd.read_excel('파일경로 + 파일명.xlsx')
- pd.read_csv('파일경로 + 파일명.csv')


- 파일 경로는 절대경로와 상대경로 두가지 방법이 있음
1. 절대경로: "c:/폴더1/폴더2/파일명.확장자"처럼 c:부터 지정하는 방법

2. 상대경로: "./폴더3/파일명.확장자"처럼 현재 위치(jupiter note 위치)를 기준으로 지정하는 방법(./이 현재위치라는 뜻)

In [37]:
# 파일 현 위치를 아는 방법
# ipynb폴더가 있는 곳에다가 data복붙해서 해결함
import os
os.getcwd()

'C:\\Users\\bestl\\4차산업역량강화'

In [38]:
# read.excel() 명령을 통해 엑셀 파일을 불러오기
# 엑셀파일에서 불러온 데이터 프레임 자료를 raw라는 이름으로 지정하기
fpath = './data/exam.xlsx'
raw = pd.read_excel(fpath)

In [39]:
# head()를 이용해 상단의 데이터를 살필 수 있음
# head(보고싶은 줄개수)하면 그 줄까지만 보여줌
# 아무것도 안적으면 기본은 5
raw.head(2)

   번호  국어  영어  수학
0  1번  70  80  75
1  2번  68  95  55

In [16]:
# 아랫부분의 데이터를 보여줘
# 현재 데이터는 3줄밖에 안되기 때문에 head,tail 결과가 동일함.
raw.tail()

   번호  국어   영어  수학
0  1번  70   80  75
1  2번  68   95  55
2  3번  90  100  95

In [20]:
# info()를 이용해 인덱스와 컬럼의 데이터 개수, 종류 확인가능
# pandas의 object = str
raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   번호      3 non-null      object
 1   국어      3 non-null      int64
 2   영어      3 non-null      int64
 3   수학      3 non-null      int64
dtypes: int64(3), object(1)
memory usage: 224.0+ bytes

In [21]:
# describe()를 이용해서 수치형 데이터(int, float)가 들어있는 컬럼의 기초 통계량(개수, 평균, 표준편차, 사분위등등)을 볼 수 있음
# 크기비교가 가능한 것만 뜸
raw.describe()

              국어          영어    수학
count   3.000000    3.000000   3.0
mean   76.000000   91.666667  75.0
std    12.165525   10.408330  20.0
min    68.000000   80.000000  55.0
25%    69.000000   87.500000  65.0
50%    70.000000   95.000000  75.0
75%    80.000000   97.500000  85.0
max    90.000000  100.000000  95.0

- 데이터를 불러들인 뒤에는 head(), info(), describe()명령을 통해 데이터를 살펴보는 것이 좋음

Q) '번호' 칼럼에 들어있는 1번, 2번, 3번 값을 인덱스로 활용하고 싶어요
- reset_index(), set_index('')

In [40]:
#인덱스가 0,1,2,
raw

   번호  국어   영어  수학
0  1번  70   80  75
1  2번  68   95  55
2  3번  90  100  95

In [25]:
# 인덱스를 번호값(1번, 2번..으로 하고 싶다면)
raw.set_index('번호')

    국어   영어  수학
번호
1번  70   80  75
2번  68   95  55
3번  90  100  95

In [27]:
# 판다스는 되도록 원본을 건들지 않음
# 원본데이터를 바꾸고 싶다면 원본 데이터를 바꾸고 원본데이터 바뀐결과를 저장해줘야함.
raw

   번호  국어   영어  수학
0  1번  70   80  75
1  2번  68   95  55
2  3번  90  100  95

In [35]:
#저장하기
#raw = raw.set_index('번호')
raw

    국어   영어  수학
번호
1번  70   80  75
2번  68   95  55
3번  90  100  95

Q) 엑셀파일을 읽어올 때, 미리 인덱스를 지정할 수 있나요?
- pd.read_excel('파일명',index_col = '컬럼정보')
- 컬럼정보에는 컬럼번호(0부터 시작) or 컬럼명 지정가능

In [43]:
# 파일 데이터를 불러들일 때, index_col 옵션을 통해 인덱스 컬럼 미리 지정하기 가능
fpath = './data/exam.xlsx'
raw = pd. read_excel(fpath, index_col = '번호')
raw

    국어   영어  수학
번호
1번  70   80  75
2번  68   95  55
3번  90  100  95