## 3. 데이터 선택하기

### 3.1 개별 데이터 선택하기
- df.iloc[로우 컬럼]: i는 index. 인덱스번호로 선택하기
- df.loc[로우, 컬럼]: 이름으로 선택하기

In [1]:
import pandas as pd

In [2]:
fpath = './data/exam.xlsx'
raw = pd. read_excel(fpath, index_col = '번호')
raw

    국어   영어  수학
번호
1번  70   80  75
2번  68   95  55
3번  90  100  95

In [7]:
# iloc[행번호, 열번호]를 통해 특정 행, 열 데이터 선택하기
# 인덱스는 0부터 시작
# 1, 2

raw.iloc[1, 2]

55

In [8]:
# loc[행번호, 열번호]를 통해 특정 행,열 데이터를 선택할 수 있습니다. 행/열 이름으로 선택하기
# '1번', '수학'
raw.loc['1번','수학']

75

In [9]:
# 실습) 1번 국어점수 선택하기
print(raw.loc['1번', '국어'])
print(raw.iloc[0,0])

70
70

### 복수의 셀을 선택할 경우
- df.loc[인덱스명, 컬럼명]
- df.iloc[인덱스번호, 컬럼번호]
- 인덱스/컬럼정보에 [조건1,2,...n]리스트 형태로 여러개 입력 or 시작:종료 형태로 범위지정이 가능하다

In [10]:
# 1번 학생의 국어/영어 점수 조회. 컬럼명 지정시 리스트 형태로 국어,영어 지정해보기
raw.loc['1번', ['국어','영어']]

국어    70
영어    80
Name: 1번, dtype: int64

In [11]:
# 1번,2번 학생의 수학점수 조회
raw.loc[['1번','2번'], '수학']

번호
1번    75
2번    55
Name: 수학, dtype: int64

In [12]:
# 리스트 슬라이싱 기호 ':'를 이용해서 특정범위 지정 가능
# 1번 학생 영어~끝까지 점수 조회
raw.loc['1번', "영어": ]

영어    80
수학    75
Name: 1번, dtype: int64

In [13]:
#검토
raw

    국어   영어  수학
번호
1번  70   80  75
2번  68   95  55
3번  90  100  95

### 하나의 컬럼 전체 선택
- 하나의 컬럼 전체 선택 data.loc[:, 컬럼명]은 아래와 같이 사용 가능
- data.컬럼명
- data.['컬럼명']

In [14]:
# loc[인덱스, 컬럼]을 이용해 모든 학생들의 수학점수를 선택
# 수학 컬럼 선택하기
# :는 처음부터 끝까지
raw.loc[:,'수학']

번호
1번    75
2번    55
3번    95
Name: 수학, dtype: int64

In [15]:
# 데이터프레임[컬럼명]으로 하나의 컬럼 지정 가능
# 수학 컬럼 선택
raw['수학']

번호
1번    75
2번    55
3번    95
Name: 수학, dtype: int64

In [16]:
#수학과 영어 컬럼 선택해보기
# '수학', '영어'
raw[['수학','영어']]

    수학   영어
번호
1번  75   80
2번  55   95
3번  95  100

In [17]:
# 컬럼순서를 원하는대로 변경 가능
# 수학-영어-국어 순으로 보고싶다면

raw[['수학', '영어','국어']]

    수학   영어  국어
번호
1번  75   80  70
2번  55   95  68
3번  95  100  90

### 특정 조건 데이터 행 선택
- df[condition] = True인 데이터만 출력됨
- condition: True/False로 구성된 리스트/시리즈

In [18]:
raw

    국어   영어  수학
번호
1번  70   80  75
2번  68   95  55
3번  90  100  95

In [21]:
# 특정 조건 만족여부 비교 연산(>,<,==)사용
# 수학 컬럼이 80보다 적은 경우 살펴보기. 결과는 True/False의 시리즈 형태
cond = raw['수학'] < 80
cond

번호
1번     True
2번     True
3번    False
Name: 수학, dtype: bool

In [23]:
# 조건을 변수 선언해준 후 데이터에 넣으면 True인 자료만 출력 가능
raw[cond]

    국어  영어  수학
번호
1번  70  80  75
2번  68  95  55

In [26]:
# 비교 연산자가 아닌 직접 True/F 값을 가진 리스트를 만들어서 조건으로 이용해도 좋음
# 주의점: 데이터 프레임의 행개수와 리스트 개수가 동일해야함

#TFT순서인 행을 뽑아줘
cond = [True, False, True]
raw[cond]

    국어   영어  수학
번호
1번  70   80  75
3번  90  100  95

### 조건을 여러개 만들기
- 여러개의 조건으로 선택 가능. 조건을 모두 만족해야하는 경우(&), 하나라도 만족하면 되는 경우(|)

- &은 모두 T여야 성립 
    - T + T = T
    - T + F = F
    - F + F = F
    
- |는 T가 하나라도 있으면 성립
    - T + T = T
    - T + F = T
    - F + F = F

In [27]:
# 영어나 수학 둘 중 하나라도 80을 넘는 경우를 찾아보기
cond3 = (raw['영어']>80)
cond4 = (raw['수학']>80)

#cond3 or cond4가 T?
cond = cond3|cond4
raw[cond]

    국어   영어  수학
번호
2번  68   95  55
3번  90  100  95

In [28]:
# &조건 달기
cond = cond3&cond4
raw[cond]

    국어   영어  수학
번호
3번  90  100  95

In [34]:
# 영어 점수가 70이상, 수학 점수가 70 이상 90미만인 데이터
# 여러개 조건 나열 입력
# 역슬러시는 줄바꿈을 이어주는 역할
cond = (raw['영어']>=70) \
        & (raw['수학']>=70) \
        & (raw['수학']<100)
raw[ cond ]

    국어   영어  수학
번호
1번  70   80  75
3번  90  100  95

In [35]:
# 실습) 국어, 영어 점수 컬럼 선택
score_Korean = raw['국어']
score_English = raw['영어']

In [36]:
score_Korean

번호
1번    70
2번    68
3번    90
Name: 국어, dtype: int64

In [37]:
score_English

번호
1번     80
2번     95
3번    100
Name: 영어, dtype: int64

In [40]:
#실습) 국어, 영어가 모두 80이 넘는 and
cond_first = ( raw['국어'] > 80 )
cond_second = (raw['영어'] > 80)

cond = cond_first & cond_second
raw[cond]

    국어   영어  수학
번호
3번  90  100  95

In [41]:
# 실습) 둘 중 하나라도 80이 넘는 or

cond_first = ( raw['국어'] > 80 )
cond_second = (raw['영어'] > 80)

cond = cond_first | cond_second
raw[cond]

    국어   영어  수학
번호
2번  68   95  55
3번  90  100  95