### 필수과제1
- 4가지 이상의 요구조건을 만들어서 코드를 작성하고 값을 출력했다.
- e.g. 저는 5가지 컬럼을 사용하여 질문에 대한 답을 코드와 값으로 보여줬으니 여러분들은! 아래에 요구조건으로 과제를 진행해 주세요!
- 필수과제로 최소 10개 이상 질문으로 코드 -> 답 나오는 것으로 만들어주세요. 최소 3개 이상 컬럼을 사용해 주세요!
- 먼저 선 질문 후 코드

In [2]:
import seaborn as sns
import pandas as pd
import numpy as np
tt = sns.load_dataset('titanic')

In [5]:
#1. 3등급 남자 중에 age가 50 이상이거나 10 아래인 사람들의 운임 평균: 35달러
tt.query("""pclass == 3 and sex == 'male' and age > 50 or age >10 """)['fare'].mean()

35.11396753846147

In [6]:
#2. fare가 30 이상인 사람들 중 30세 이상 남성들의 생존확률 평균: 30%
tt.query("""fare > 30 and age > 30 and sex == 'male'""")['survived'].mean()

0.3392857142857143

In [7]:
#3. fare가 30 이상인 사람들 중 30세 이상 여성들의 생존확률 평균: 92%
tt.query("""fare > 30 and age > 30 and sex == 'female'""")['survived'].mean()

0.9245283018867925

In [9]:
#4. pclass가 3인 여성들 중 20세 이상 여성들의 생존 확률: 41%
tt.query("""pclass == 3 and sex == 'female' and age > 20""")['survived'].mean()

0.41818181818181815

In [11]:
#5. 남성들 중 10달러 이상 50달러 이히의 운임을 낸 사람 중 혼자가 아니었던 사람의 생존률:22%
tt.query("""sex == 'male' and fare> 10 and fare <50 and alone == False""")['survived'].mean()

0.22916666666666666

In [13]:
#6. 100달러 이상의 돈을 낸 혼자 탄 남자들의 생존률 표준편차: 0.5
tt.query("""sex == 'male' and fare > 100 and alone == True""")['survived'].std()

0.5

In [18]:
#7. 10달러 이상의 운임을 낸 20살 이상의  2,3등급의 생존 중간 값은 0 : 반 넘게 못살았다.
tt.query("sex == 'male' and age>20 and pclass== 3 or pclass ==2")['survived'].median()

0.0

In [19]:
#8. 여성 중 50달러 이하로 낸 사람 이고 혼자가 아니었던 여성 중 생존한 사람의 수: 78명
tt.query("""sex == 'female' and fare < 50 and alone == False""")['survived'].sum()

78

In [20]:
# 별도로 쿼리 던졌을 때 여성에 관한 정보들
tt.query("""sex == 'female'""").sum()

survived                                                    233
pclass                                                      678
sex           femalefemalefemalefemalefemalefemalefemalefema...
age                                                        7286
sibsp                                                       218
parch                                                       204
fare                                                    13966.7
class         FirstThirdFirstThirdSecondThirdFirstThirdSecon...
who           womanwomanwomanwomanchildchildwomanchildwomanw...
adult_male                                                    0
alive         yesyesyesyesyesyesyesnoyesnoyesyesnoyesyesyesy...
alone                                                       126
dtype: object

In [23]:
#9 아이 중 살아남았고 3등급이었던 아이의 평균 나이: 6살
tt.query("""who == 'child' and alive == 'yes' and pclass == 3""")['age'].mean()

6.0768

In [25]:
#10. 아이 중 살아남았고 혼자가 아니었던 아이들의 생존자 수: 45명
tt.query("""who == 'child' and alive == 'yes' and alone == False""")['survived'].count()

45

In [29]:
#아이들의 생존확률:59%
tt.query("""who == 'child'""")['survived'].mean()

0.5903614457831325